body{
  background-color: rgb(66, 77, 85);
}
main{
  padding-top: 50px;
  max-width:  340px;
  margin: 0 auto;
  text-align: center;
}
button{
  background-color: transparent;
  color: rgb(218, 218, 218);
  border: 0;
  display:inline-block;
  width: 100px;
}
button.setup{
  color: rgb(218, 218, 218);
  border-radius: 20px;
  height: 75px;
}
button.setup svg{
  width: 60px
}

